*.xlsx
*.pyc
*.out
misc.xml
*.xml
archives/test_scripts/aaai2019/latex
archives/test_scripts/IJCAI2018
archives/test_scripts/aaai2019
archives/test_scripts/journal
RAE_and_RAEplan/visuals
RAE_and_RAEplan/config.dox
RAE_and_RAEplan/html
RAE_and_RAEplan/latex

docs/
.idea/
test_scripts/AIJ/results/CR/
test_scripts/AIJ/results/SR/
test_scripts/AIJ/results/EE/
test_scripts/AIJ/results/IP/
test_scripts/AIJ/results/SD/
test_scripts/AIJ/results/CR_v2/
test_scripts/AIJ/results/CR_v3/
test_scripts/AIJ/results/CR_v4/
test_scripts/AIJ/results/CR_v5/
test_scripts/AIJ/results/CR_v6/
test_scripts/AIJ/results/CR_v7/
test_scripts/AIJ/results/CR_v8/
test_scripts/AIJ/results/SR_v2/
test_scripts/AIJ/results/SR_v3/
test_scripts/AIJ/results/SR_v4/
test_scripts/AIJ/results/SR_v5/
test_scripts/AIJ/results/SR_v6/
test_scripts/AIJ/results/SR_v7/
test_scripts/AIJ/results/SR_v8/
test_scripts/AIJ/analyze.py
test_scripts/AIJ/analyze_repeat.py
test_scripts/AIJ/compare_APEplan_RAEplan.py
test_scripts/AIJ/results/CR_v_journal_3/
test_scripts/AIJ/results/SR_v_journal_1/

autoGen_scripts/

RAE_and_RAEplan/actingTree
RAE_and_RAEplan/actingTree.png
RAE_and_RAEplan/searchTree
RAE_and_RAEplan/searchTree.png

learning/plots
learning/models

test_scripts/AIJ/figures/
